## IMPORTING LIBRARIES

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
import torch
from torch import nn
from torch.optim import Adam
from torch import tensor
from ignite.contrib.metrics import *
from sklearn.model_selection import train_test_split
from torchmetrics import *

## DATA PREPROCESSING

In [2]:
raw_df = pd.read_csv('train.csv')

In [3]:
test_df = pd.read_csv('test.csv')

In [4]:
sample_sub_df = pd.read_csv('sample_submission.csv')

In [5]:
raw_df.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

In [6]:
test_df.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,15773898,Lucchese,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,15782418,Nott,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,15807120,K?,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,15808905,O'Donnell,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,15607314,Higgins,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00

In [7]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165034 entries, 0 to 165033
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               165034 non-null  int64
 1   CustomerId       165034 non-null  int64
 2   Surname          165034 non-null  object
 3   CreditScore      165034 non-null  int64
 4   Geography        165034 non-null  object
 5   Gender           165034 non-null  object
 6   Age              165034 non-null  float64
 7   Tenure           165034 non-null  int64
 8   Balance          165034 non-null  float64
 9   NumOfProducts    165034 non-null  int64
 10  HasCrCard        165034 non-null  float64
 11  IsActiveMember   165034 non-null  float64
 12  EstimatedSalary  165034 non-null  float64
 13  Exited           165034 non-null  int64
dtypes: float64(5), int64(6), object(3)
memory usage: 17.6+ MB

NO IMPUTATION REQUIRED

In [8]:
raw_df.nunique()

id                 165034
CustomerId          23221
Surname              2797
CreditScore           457
Geography               3
Gender                  2
Age                    71
Tenure                 11
Balance             30075
NumOfProducts           4
HasCrCard               2
IsActiveMember          2
EstimatedSalary     55298
Exited                  2
dtype: int64

In [9]:
dropped_cols = ['id' , 'CustomerId' , 'Surname']

In [10]:
raw_df.drop(columns=dropped_cols, inplace=True)
test_df.drop(columns=dropped_cols, inplace=True)

In [11]:
raw_df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

### ONE HOT ENCODING

In [12]:
categorical_cols = [x for x in raw_df.columns if raw_df[x].dtype == 'object']

In [13]:
categorical_cols

['Geography', 'Gender']

In [14]:
encoder = OneHotEncoder(sparse=False)

In [15]:
encoder.fit(raw_df[categorical_cols])

/Users/chiraggoel/miniconda3/envs/torch-nightly/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

OneHotEncoder(sparse=False, sparse_output=False)

In [16]:
encoded_cols = encoder.get_feature_names_out()
encoded_cols

array(['Geography_France', 'Geography_Germany', 'Geography_Spain',
       'Gender_Female', 'Gender_Male'], dtype=object)

In [17]:
raw_df[encoded_cols] = encoder.transform(raw_df[categorical_cols])
test_df[encoded_cols] = encoder.transform(test_df[categorical_cols])

In [18]:
raw_df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0,1.0,0.0,0.0,0.0,1.0
1,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0,1.0,0.0,0.0,0.0,1.0
2,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0,1.0,0.0,0.0,0.0,1.0
3,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0,1.0,0.0,0.0,0.0,1.0
4,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0,0.0,0.0,1.0,0.0,1.0

In [19]:
test_df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75,1.0,0.0,0.0,1.0,0.0
1,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27,1.0,0.0,0.0,1.0,0.0
2,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09,1.0,0.0,0.0,1.0,0.0
3,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57,1.0,0.0,0.0,0.0,1.0
4,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00,0.0,1.0,0.0,0.0,1.0

In [20]:
raw_df.drop(columns=categorical_cols, inplace=True)
test_df.drop(columns=categorical_cols, inplace=True)

In [21]:
# checking for imbalanced dataset
raw_df['Exited'].value_counts()

Exited
0    130113
1     34921
Name: count, dtype: int64

NOT IMBALANCED

In [22]:
input_df = raw_df.drop(columns='Exited')
target_df = raw_df['Exited']

In [23]:
input_df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,668,33.0,3,0.00,2,1.0,0.0,181449.97,1.0,0.0,0.0,0.0,1.0
1,627,33.0,1,0.00,2,1.0,1.0,49503.50,1.0,0.0,0.0,0.0,1.0
2,678,40.0,10,0.00,2,1.0,0.0,184866.69,1.0,0.0,0.0,0.0,1.0
3,581,34.0,2,148882.54,1,1.0,1.0,84560.88,1.0,0.0,0.0,0.0,1.0
4,716,33.0,5,0.00,2,1.0,1.0,15068.83,0.0,0.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
165029,667,33.0,2,0.00,1,1.0,1.0,131834.75,0.0,0.0,1.0,1.0,0.0
165030,792,35.0,3,0.00,1,0.0,0.0,131834.45,1.0,0.0,0.0,0.0,1.0
165031,565,31.0,5,0.00,1,1.0,1.0,127429.56,1.0,0.0,0.0,0.0,1.0
165032,554,30.0,7,161533.00,1,0.0,1.0,71173.03,0.0,0.0,1.0,1.0,0.0
165033,850,31.0,1,0.00,1,1.0,0.0,61581.79,1.0,0.0,0.0,0.0,1.0

### MIN MAX SCALER

In [24]:
scaler = MinMaxScaler()

In [25]:
input_df = scaler.fit_transform(input_df)

In [26]:
input_df

array([[0.636     , 0.2027027 , 0.3       , ..., 0.        , 0.        ,
        1.        ],
       [0.554     , 0.2027027 , 0.1       , ..., 0.        , 0.        ,
        1.        ],
       [0.656     , 0.2972973 , 1.        , ..., 0.        , 0.        ,
        1.        ],
       ...,
       [0.43      , 0.17567568, 0.5       , ..., 0.        , 0.        ,
        1.        ],
       [0.408     , 0.16216216, 0.7       , ..., 1.        , 1.        ,
        0.        ],
       [1.        , 0.17567568, 0.1       , ..., 0.        , 0.        ,
        1.        ]])

In [27]:
ones_input_df = raw_df[raw_df['Exited'] == 1]
zeroes_input_df = raw_df[raw_df['Exited'] == 0]
ones_input_df.drop(columns=['Exited'], inplace=True)
zeroes_input_df.drop(columns=['Exited'], inplace=True)

/var/folders/3g/f5q0zpbd2gg_n0x_b91qrql00000gn/T/ipykernel_3455/638766902.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ones_input_df.drop(columns=['Exited'], inplace=True)
/var/folders/3g/f5q0zpbd2gg_n0x_b91qrql00000gn/T/ipykernel_3455/638766902.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  zeroes_input_df.drop(columns=['Exited'], inplace=True)

In [28]:
target_df

0         0
1         0
2         0
3         0
4         0
         ..
165029    0
165030    0
165031    0
165032    0
165033    1
Name: Exited, Length: 165034, dtype: int64

## RANDOM FOREST CLASSIFIER

In [29]:
rfc = RandomForestClassifier(n_estimators=1000, max_depth=15, n_jobs=-1, random_state=42, class_weight='balanced')

In [30]:
rfc.fit(input_df, target_df)

RandomForestClassifier(class_weight='balanced', max_depth=15, n_estimators=1000,
                       n_jobs=-1, random_state=42)

In [31]:
rfc_ones_preds = rfc.predict(ones_input_df)
rfc_zeroes_preds = rfc.predict(zeroes_input_df)
rfc_preds = rfc.predict(input_df)

/Users/chiraggoel/miniconda3/envs/torch-nightly/lib/python3.10/site-packages/sklearn/base.py:457: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(
/Users/chiraggoel/miniconda3/envs/torch-nightly/lib/python3.10/site-packages/sklearn/base.py:457: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

In [32]:
print(accuracy_score(rfc_ones_preds ,[1]*rfc_ones_preds.shape[0]))
print(accuracy_score(rfc_zeroes_preds ,[0]*rfc_zeroes_preds.shape[0]))
print(accuracy_score(rfc_preds ,target_df))

0.6477191374817445
0.5013180850491495
0.8981119042136771

In [33]:

print(roc_auc_score(rfc_preds ,target_df))

0.8381486984554902

In [34]:
rfc_preds = rfc.predict(test_df)

/Users/chiraggoel/miniconda3/envs/torch-nightly/lib/python3.10/site-packages/sklearn/base.py:457: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

In [35]:
sample_sub_df['Exited'] = rfc_preds

In [36]:
sample_sub_df

            id  Exited
0       165034       1
1       165035       1
2       165036       1
3       165037       1
4       165038       0
...        ...     ...
110018  275052       0
110019  275053       0
110020  275054       1
110021  275055       1
110022  275056       1

[110023 rows x 2 columns]

In [37]:
rfc_fp = sample_sub_df.to_csv('rfc.csv',index=False)

## NEURAL NETWORK

In [38]:
X_tensor = torch.tensor(input_df.astype('float32'),requires_grad=True)
Y_tensor = torch.tensor(target_df.astype('float32'), requires_grad=True)

In [39]:
X_tensor

tensor([[0.6360, 0.2027, 0.3000,  ..., 0.0000, 0.0000, 1.0000],
        [0.5540, 0.2027, 0.1000,  ..., 0.0000, 0.0000, 1.0000],
        [0.6560, 0.2973, 1.0000,  ..., 0.0000, 0.0000, 1.0000],
        ...,
        [0.4300, 0.1757, 0.5000,  ..., 0.0000, 0.0000, 1.0000],
        [0.4080, 0.1622, 0.7000,  ..., 1.0000, 1.0000, 0.0000],
        [1.0000, 0.1757, 0.1000,  ..., 0.0000, 0.0000, 1.0000]],
       requires_grad=True)

In [40]:
Y_tensor

tensor([0., 0., 0.,  ..., 0., 0., 1.], requires_grad=True)

In [41]:
print(type(X_tensor))
print(type(Y_tensor))

<class 'torch.Tensor'>
<class 'torch.Tensor'>

### Train Test Split

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X_tensor, Y_tensor, test_size=0.15, random_state=42)
len(X_train), len(y_train), len(X_test), len(y_test)

(140278, 140278, 24756, 24756)

### NN Architecture

In [43]:
class Model(nn.Module):

    def __init__(self, inp, h1, h2, h3, out):
        super(Model, self).__init__()

        self.linear1 = nn.Linear(inp, h1)
        self.Relu1 = nn.ReLU()
        self.linear2 = nn.Linear(h1, h2)
        self.Relu2 = nn.ReLU()
        self.linear3 = nn.Linear(h2, h3)
        self.Relu3 = nn.ReLU()
        self.linear4 = nn.Linear(h3,out)

    def forward(self, x):

        x = self.linear1(x)
        x = self.Relu1(x)
        x = self.linear2(x)
        x = self.Relu2(x)    
        x = self.linear3(x)
        x = self.Relu3(x)    
        x = self.linear4(x)
        
        return x

In [44]:
X_train.shape

torch.Size([140278, 13])

In [45]:
model = Model(13,32,64,20,1)

In [46]:
model.named_parameters

<bound method Module.named_parameters of Model(
  (linear1): Linear(in_features=13, out_features=32, bias=True)
  (Relu1): ReLU()
  (linear2): Linear(in_features=32, out_features=64, bias=True)
  (Relu2): ReLU()
  (linear3): Linear(in_features=64, out_features=20, bias=True)
  (Relu3): ReLU()
  (linear4): Linear(in_features=20, out_features=1, bias=True)
)>

In [47]:
loss_fxn = nn.BCEWithLogitsLoss()
optimizer = Adam(params=model.parameters(), lr=0.002)

In [48]:
loss_fxn

BCEWithLogitsLoss()

In [49]:
optimizer

Adam (
Parameter Group 0
    amsgrad: False
    betas: (0.9, 0.999)
    capturable: False
    differentiable: False
    eps: 1e-08
    foreach: None
    fused: None
    lr: 0.002
    maximize: False
    weight_decay: 0
)

### Accuracy Function

In [50]:
auc = AUROC(task="binary")

In [51]:
def accuracy_fxn(y_pred, y_true):
    s = auc(y_true, y_pred)*100
    return s

### Training and Testing NN

In [52]:
y_train = y_train.reshape((len(X_train),1))
y_test = y_test.reshape((len(X_test),1))

In [53]:
y_train.shape

torch.Size([140278, 1])

In [54]:
epochs = 101

In [68]:
for epoch in range(epochs):

    # TRAINING PHASE
    model.train()

    # forward pass
    yout = model(X_train)
    y_preds = torch.round(torch.sigmoid(yout))
    
    # Calculate loss
    tloss = loss_fxn(yout, y_train)
    acc = accuracy_fxn(y_preds, y_train)

    #optimizer zero grad
    optimizer.zero_grad()

    # differentiation
    tloss.backward(retain_graph=True)

    #optimize
    optimizer.step()

    
    # TESTING
    model.eval()

    with torch.inference_mode():

        # forward pass
        test_out = model(X_test)
        test_preds = torch.round(torch.sigmoid(test_out))

        # Calculate loss
        test_loss = loss_fxn(test_preds, y_test)
        test_acc = accuracy_fxn(test_preds, y_test)

    if epoch % 10 == 0:
        print(f'Epoch: {epoch} | Loss: {tloss:.5f}, Acc: {acc:.2f}% | Test loss: {test_loss:.5f}, Test acc: {test_acc:.2f}%')

Epoch: 0 | Loss: 0.40357, Acc: 78.37% | Test loss: 0.68248, Test acc: 78.68%
Epoch: 10 | Loss: 0.39465, Acc: 77.96% | Test loss: 0.68346, Test acc: 77.81%
Epoch: 20 | Loss: 0.39036, Acc: 77.91% | Test loss: 0.68318, Test acc: 77.94%
Epoch: 30 | Loss: 0.38698, Acc: 78.12% | Test loss: 0.68238, Test acc: 78.30%
Epoch: 40 | Loss: 0.38369, Acc: 78.29% | Test loss: 0.68236, Test acc: 78.31%
Epoch: 50 | Loss: 0.37962, Acc: 78.54% | Test loss: 0.68164, Test acc: 78.62%
Epoch: 60 | Loss: 0.37428, Acc: 78.86% | Test loss: 0.68099, Test acc: 78.89%
Epoch: 70 | Loss: 0.36817, Acc: 78.88% | Test loss: 0.68011, Test acc: 79.32%
Epoch: 80 | Loss: 0.36261, Acc: 78.91% | Test loss: 0.68042, Test acc: 79.10%
Epoch: 90 | Loss: 0.35779, Acc: 79.58% | Test loss: 0.68044, Test acc: 79.07%
Epoch: 100 | Loss: 0.35353, Acc: 79.66% | Test loss: 0.68002, Test acc: 79.24%

In [56]:
y_test

tensor([[0.],
        [0.],
        [1.],
        ...,
        [0.],
        [1.],
        [0.]], grad_fn=<ViewBackward0>)

In [57]:
for name, param in model.named_parameters():
    print("param {}, grad {}".format(name, param.grad))

param linear1.weight, grad tensor([[-1.5739e-04,  1.1613e-03, -3.8501e-05, -1.3129e-04, -3.2124e-05,
          2.3146e-04,  6.0457e-04, -9.1587e-04, -6.5405e-04, -1.1288e-04,
          2.6670e-04, -3.4871e-04, -1.5151e-04],
        [-2.2953e-04, -3.4695e-04, -2.1077e-04,  3.4326e-05,  1.5299e-04,
         -4.8910e-04, -2.2472e-04, -1.3664e-04, -1.6523e-04, -8.0546e-05,
         -1.4214e-04,  2.4578e-05, -4.1250e-04],
        [-4.4174e-04,  1.1190e-03, -2.0528e-04, -2.8062e-04, -1.1066e-04,
          1.2798e-04,  6.4152e-04, -1.2897e-03, -9.9198e-04, -2.6442e-04,
          2.4959e-04, -6.8796e-04, -3.1885e-04],
        [-6.0969e-04,  8.1350e-04, -5.0541e-04, -7.2916e-05,  2.0044e-04,
         -6.5689e-04,  1.4810e-04, -1.2892e-03, -1.1228e-03, -9.8725e-05,
         -1.0239e-06, -6.4960e-04, -5.7298e-04],
        [-1.7969e-03,  2.3948e-03, -9.9559e-04, -1.3803e-03, -8.4366e-04,
         -8.0386e-04,  1.1609e-03, -3.8216e-03, -1.9497e-03, -2.2044e-03,
          6.3419e-04, -1.8774e-03, -1.6426e-03],
        [ 0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
          0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00,
          0.0000e+00,  0.0000e+00,  0.0000e+00],
        [-8.1082e-05, -1.3255e-04, -4.4072e-05,  3.3680e-05,  1.2045e-04,
         -1.2275e-04,  0.0000e+00, -4.1665e-05, -1.0544e-04,  0.0000e+00,
         -1.9952e-05, -2.2695e-06, -1.2312e-04],
        [-5.8766e-04,  2.4178e-03, -1.2214e-04, -4.5399e-04, -2.3572e-04,
          7.0176e-04,  1.1619e-03, -2.1933e-03, -1.3754e-03, -3.3149e-04,
          2.9578e-04, -8.0760e-04, -6.0355e-04],
        [-1.1428e-04,  2.2850e-04,  1.4906e-05, -1.9045e-04, -3.3432e-04,
          1.2346e-04,  1.0126e-04, -2.5042e-04, -8.7451e-05, -1.9506e-04,
          1.1537e-04, -2.3678e-04,  6.9644e-05],
        [-4.3052e-04,  9.4099e-04, -3.1374e-04, -5.6812e-05,  1.7651e-04,
          1.4946e-04, -1.1808e-04, -1.0086e-03, -7.5069e-04,  7.8542e-05,
         -1.0300e-04, -3.7542e-04, -3.9972e-04],
        [-3.1575e-04,  8.5383e-04, -2.3336e-04,  9.5875e-06, -2.7380e-05,
          1.1178e-04,  5.4987e-04, -1.0095e-03, -1.0428e-03,  2.4601e-04,
          2.1451e-05, -3.5516e-04, -4.2019e-04],
        [ 1.2243e-04, -2.6595e-03, -1.2377e-04,  2.4866e-04,  3.0481e-04,
         -1.2665e-03, -1.2331e-03,  1.6600e-03,  1.1110e-03, -6.4283e-05,
         -4.5167e-04,  5.1213e-04,  8.2916e-05],
        [-3.8024e-04,  1.7177e-03, -1.5006e-04, -1.2994e-04, -7.6931e-05,
          4.5537e-04,  8.3684e-04, -1.4540e-03, -1.1215e-03, -1.0092e-04,
          3.8966e-04, -3.9196e-04, -4.4079e-04],
        [ 2.0757e-04, -7.0499e-03, -6.3716e-04,  1.0644e-03,  1.0340e-03,
         -3.5066e-03, -3.5065e-03,  4.3969e-03,  2.2214e-03,  4.2165e-04,
         -1.3041e-03,  1.3888e-03, -4.9827e-05],
        [-3.2411e-04,  2.3809e-04, -1.6006e-04, -2.8788e-04, -1.9768e-04,
         -2.3106e-04,  1.7339e-04, -5.2571e-04, -8.6088e-04,  1.7565e-06,
          2.5945e-04, -7.0828e-04,  1.0861e-04],
        [-1.8140e-03,  2.7367e-03, -8.9895e-04, -1.0256e-03, -6.6245e-04,
         -9.8121e-04,  2.2177e-03, -4.1705e-03, -2.6798e-03, -1.0121e-03,
         -4.0863e-04, -2.2125e-03, -1.8880e-03],
        [-4.1333e-04,  1.2443e-03, -1.4136e-04, -1.8912e-04, -9.3415e-05,
          1.5659e-04,  6.6516e-04, -1.2911e-03, -1.0421e-03, -1.1745e-04,
          1.6520e-04, -3.2477e-04, -6.6964e-04],
        [-2.4765e-04,  2.8276e-03,  1.4380e-04, -4.9932e-04, -3.7601e-04,
          1.2447e-03,  1.3114e-03, -2.0753e-03, -9.6255e-04, -3.9259e-04,
          5.5451e-04, -4.6093e-04, -3.3969e-04],
        [-2.7649e-03,  5.9972e-03, -1.4696e-03, -9.8344e-04, -7.9796e-04,
          3.5304e-03,  1.7818e-03, -7.1060e-03, -6.4421e-03, -4.3341e-04,
          1.3473e-03, -3.1113e-03, -2.4169e-03],
        [-5.5129e-04,  7.8464e-04, -3.3249e-04, -1.9717e-04,  5.3913e-05,
         -6.0093e-05,  3.3699e-04, -1.1874e-03, -7.7962e-04, -3.2944e-04,
         -5.4888e-06, -5.5013e-04, -5.6442e-04],
        [-1.0890e-03,  5.8966e-03, -1.9086e-04, -9.1350e-04, -6.9154e-04,
          2.0268e-03,  2.7957e-03, -4.8104e-03, -2.6561e-03, -5.9356e-04,
          5.4677e-04, -2.1575e-03, -5.4542e-04],
        [ 1.7398e-04, -1.7326e-03,  6.5044e-06,  4.1918e-04,  7.9068e-05,
         -8.9961e-04, -3.0364e-04,  1.2097e-03,  6.5018e-04,  8.6983e-05,
         -1.9257e-04,  1.1841e-03, -6.3955e-04],
        [-9.1210e-05, -4.6217e-05, -5.4758e-05,  7.5306e-06,  1.4092e-05,
         -1.1075e-04, -1.5538e-04, -5.1919e-05, -1.1369e-04,  1.1153e-05,
         -3.1421e-05, -7.4142e-05, -5.9821e-05],
        [-6.3781e-04,  4.6730e-03,  9.5622e-05, -6.7430e-04, -5.5934e-04,
          1.8935e-03,  2.2169e-03, -3.5581e-03, -2.2235e-03, -3.6582e-04,
          8.7087e-04, -1.3756e-03, -3.4288e-04],
        [-2.7666e-04,  1.7782e-03, -2.1517e-05, -3.2897e-04, -2.2517e-04,
          6.1790e-04,  6.0947e-04, -1.3626e-03, -7.5055e-04, -2.6553e-04,
          3.2081e-04, -5.0136e-04, -1.9391e-04],
        [-2.6139e-04,  3.7733e-05, -1.9273e-04, -7.0801e-05,  5.9344e-05,
         -3.3202e-04,  1.1409e-04, -3.9681e-04, -3.2845e-04, -1.5086e-04,
         -5.5983e-05, -2.7856e-04, -2.5674e-04],
        [-2.1324e-04,  3.3944e-04, -1.7016e-04, -2.6389e-05, -1.4296e-04,
         -2.6507e-04, -6.0096e-05, -4.3273e-04, -4.8192e-04,  4.2264e-05,
         -2.1579e-05, -2.3579e-04, -2.2544e-04],
        [ 1.7503e-03, -4.5580e-03,  7.9331e-04,  1.7959e-03,  3.4827e-03,
         -1.1584e-03, -2.3495e-03,  4.6937e-03,  2.4051e-03,  1.3665e-03,
         -4.7646e-04,  1.4591e-03,  1.8361e-03],
        [-3.4008e-04, -3.1883e-03, -7.1237e-04,  4.0891e-04,  6.6227e-04,
         -2.2465e-03, -1.4286e-03,  1.3865e-03,  4.3539e-04, -5.9343e-05,
         -6.5427e-04,  1.8769e-04, -4.6591e-04],
        [ 8.3366e-04, -6.3365e-03, -7.5691e-05,  8.2524e-04,  1.3799e-03,
         -2.7929e-03, -3.8965e-03,  4.7786e-03,  3.1316e-03,  2.2229e-04,
         -1.0537e-03,  2.2134e-03,  8.6690e-05],
        [-1.9750e-03, -4.6495e-03, -1.9410e-03,  5.6076e-04, -1.3995e-03,
         -5.2269e-03, -1.5836e-03,  1.9837e-04, -2.2549e-03,  2.7313e-04,
         -8.5199e-04, -8.9939e-04, -1.9344e-03],
        [ 7.4166e-04, -2.2353e-03,  1.9847e-04,  8.0137e-04,  2.6515e-03,
         -9.5926e-05, -1.7627e-03,  2.2442e-03,  2.5932e-03, -3.5090e-05,
         -8.1262e-04,  1.0502e-03,  6.9527e-04]])
param linear1.bias, grad tensor([-0.0005, -0.0004, -0.0010, -0.0012, -0.0035,  0.0000, -0.0001, -0.0014,
        -0.0002, -0.0008, -0.0008,  0.0006, -0.0008,  0.0013, -0.0006, -0.0041,
        -0.0010, -0.0008, -0.0055, -0.0011, -0.0027,  0.0005, -0.0001, -0.0017,
        -0.0007, -0.0005, -0.0005,  0.0033, -0.0003,  0.0023, -0.0028,  0.0017])
param linear2.weight, grad tensor([[ 4.6001e-05,  2.0591e-04,  1.5272e-04,  ...,  2.3960e-04,
          1.3992e-04,  4.0845e-05],
        [ 7.2627e-09, -4.5622e-08, -3.5175e-08,  ..., -6.4240e-08,
         -6.8086e-09,  0.0000e+00],
        [ 1.0742e-06,  3.1585e-04,  2.8325e-04,  ...,  3.7526e-04,
          2.4793e-04,  2.8181e-05],
        ...,
        [ 8.1176e-05,  7.5118e-05,  1.9700e-04,  ...,  2.2051e-04,
          1.6512e-04,  4.5793e-05],
        [ 0.0000e+00,  0.0000e+00,  0.0000e+00,  ...,  0.0000e+00,
          0.0000e+00,  0.0000e+00],
        [ 4.7775e-05,  1.2147e-05,  4.8699e-05,  ...,  5.3162e-05,
         -7.8936e-06,  2.9378e-05]])
param linear2.bias, grad tensor([-7.8781e-06, -4.8305e-08, -3.7805e-04, -1.3208e-04, -5.3671e-04,
         5.5773e-05, -8.7416e-04, -9.0911e-04,  1.5348e-04, -2.4837e-04,
         0.0000e+00, -1.7278e-04, -6.8250e-06,  0.0000e+00, -2.5151e-04,
        -5.2748e-05, -8.9719e-04, -4.5128e-04, -6.4060e-04, -1.8831e-04,
         0.0000e+00,  0.0000e+00,  0.0000e+00,  0.0000e+00, -3.8450e-04,
         0.0000e+00, -1.9347e-04, -4.9334e-04,  0.0000e+00,  0.0000e+00,
        -6.0105e-04, -4.5057e-04,  1.1109e-04, -1.9722e-04, -6.6652e-04,
        -2.2409e-03, -4.6011e-04, -1.7700e-04, -4.2862e-08,  1.5186e-04,
         6.4873e-05,  0.0000e+00, -9.7472e-04, -2.2828e-04,  0.0000e+00,
        -1.0701e-03, -4.0479e-05, -1.0501e-04, -8.7028e-05, -2.7437e-04,
        -7.2082e-04, -5.3437e-04, -8.1332e-05,  0.0000e+00, -1.7145e-04,
         0.0000e+00, -1.7990e-04, -3.4198e-04, -5.9546e-04, -1.0488e-04,
        -1.7333e-04,  7.4469e-06,  0.0000e+00,  4.0561e-05])
param linear3.weight, grad tensor([[-4.2762e-04,  1.6838e-10, -7.5359e-04,  ..., -5.1858e-04,
          0.0000e+00, -3.1850e-04],
        [-3.4630e-05, -3.8516e-10,  5.6089e-04,  ...,  5.4120e-04,
          0.0000e+00, -6.6310e-04],
        [ 5.0812e-04, -2.1673e-10,  9.6581e-04,  ...,  6.3256e-04,
          0.0000e+00,  2.5723e-04],
        ...,
        [-4.0477e-04,  1.6966e-10, -7.5708e-04,  ..., -5.0513e-04,
          0.0000e+00, -2.4162e-04],
        [-4.1640e-04,  1.7429e-10, -7.7913e-04,  ..., -5.2316e-04,
          0.0000e+00, -2.5763e-04],
        [-3.1732e-04,  1.3433e-10, -5.9907e-04,  ..., -3.9582e-04,
          0.0000e+00, -1.7648e-04]])
param linear3.bias, grad tensor([-2.8940e-04, -8.7869e-04,  8.3253e-05,  0.0000e+00, -5.9929e-05,
         0.0000e+00, -3.0812e-05, -2.9266e-04, -2.2751e-04,  6.7328e-05,
        -6.7550e-04, -1.8679e-04, -1.2445e-04,  0.0000e+00,  0.0000e+00,
        -1.1947e-03, -1.4951e-04, -1.4584e-04, -1.6829e-04, -8.5434e-05])
param linear4.weight, grad tensor([[ 1.4079e-02, -7.6711e-03, -4.7008e-03,  0.0000e+00,  1.1882e-02,
          0.0000e+00, -9.7441e-05, -8.2869e-03,  7.6912e-03, -3.7609e-03,
          9.3031e-03,  8.2425e-03,  1.2038e-02,  0.0000e+00,  0.0000e+00,
         -8.5265e-03, -6.6547e-03,  1.0231e-02,  1.0886e-02,  1.0725e-02]])
param linear4.bias, grad tensor([0.0004])

### Test Predictions

In [58]:
test_df = scaler.fit_transform(test_df)

In [59]:
test_df

array([[0.472     , 0.06756757, 0.2       , ..., 0.        , 1.        ,
        0.        ],
       [0.666     , 0.37837838, 0.2       , ..., 0.        , 1.        ,
        0.        ],
       [0.612     , 0.21621622, 0.7       , ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.724     , 0.17567568, 0.2       , ..., 0.        , 0.        ,
        1.        ],
       [0.718     , 0.18918919, 0.3       , ..., 0.        , 1.        ,
        0.        ],
       [0.542     , 0.25675676, 0.7       , ..., 0.        , 1.        ,
        0.        ]])

In [60]:
test_tensor = torch.tensor(test_df.astype('float32'), requires_grad=True)

In [61]:
test_tensor

tensor([[0.4720, 0.0676, 0.2000,  ..., 0.0000, 1.0000, 0.0000],
        [0.6660, 0.3784, 0.2000,  ..., 0.0000, 1.0000, 0.0000],
        [0.6120, 0.2162, 0.7000,  ..., 0.0000, 1.0000, 0.0000],
        ...,
        [0.7240, 0.1757, 0.2000,  ..., 0.0000, 0.0000, 1.0000],
        [0.7180, 0.1892, 0.3000,  ..., 0.0000, 1.0000, 0.0000],
        [0.5420, 0.2568, 0.7000,  ..., 0.0000, 1.0000, 0.0000]],
       requires_grad=True)

In [62]:
# PREDICTIONS
model.eval()

with torch.inference_mode():
    test_logits = model(test_tensor)
    test_p = torch.round(torch.sigmoid(test_logits))

In [63]:
test_logits

tensor([[-2.7277],
        [ 0.1842],
        [-1.5249],
        ...,
        [-2.5361],
        [-1.6572],
        [-0.8052]])

In [64]:
test_p

tensor([[0.],
        [1.],
        [0.],
        ...,
        [0.],
        [0.],
        [0.]])

In [65]:
sample_sub_df['Exited'] = test_p

In [66]:
sample_sub_df

            id  Exited
0       165034     0.0
1       165035     1.0
2       165036     0.0
3       165037     0.0
4       165038     0.0
...        ...     ...
110018  275052     0.0
110019  275053     0.0
110020  275054     0.0
110021  275055     0.0
110022  275056     0.0

[110023 rows x 2 columns]

In [67]:
nn_csv = sample_sub_df.to_csv('nn.csv', index=False)